<!--显示单个用户的局部视图--->
<li>
   <%= gravatar_for user, size: 50 %>
   <%= link_to user.name, user %>
   <% if current_user.admin? && !current_user?(user) %>  | <%= link_to "删除", user, method: :delete, data: { confirm: "请确认删除？(慎重操作)" } %>
   <% end %>
</li>
