<% provide(:title, "完善信息") %>
<h1>立即完善个人信息，提高交友成功率</h1>
<p>为了让您得到绝佳的体验，建议您<%=link_to '完善个人信息', edit_user_path(current_user)%>，所填信息会在您的个人主页展示！</p>
<!--<%=link_to '完善个人信息', edit_user_path(current_user)%>-->
<br>
<p>不，我迫不及待<%=link_to '到首页逛逛', :root%>，稍后再完善信息～</p> 

