<!---用户信息侧边栏局部视图--->

<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to "查看个人主页", current_user %></span>
<span><%= pluralize(current_user.microposts.count, "微博") %></span>
